@model Modelos.Cuota

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cuota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mes" class="control-label"></label>
                <select asp-for="Mes" class="form-control"></select>
                <span asp-validation-for="Mes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Año" class="control-label"></label>
                <input asp-for="Año" class="form-control" />
                <span asp-validation-for="Año" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cobrada" /> @Html.DisplayNameFor(model => model.Cobrada)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Vencimiento" class="control-label"></label>
                <input asp-for="Vencimiento" class="form-control" />
                <span asp-validation-for="Vencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocioId" class="control-label"></label>
                <select asp-for="SocioId" class ="form-control" asp-items="ViewBag.SocioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ActividadId" class="control-label"></label>
                <select asp-for="ActividadId" class ="form-control" asp-items="ViewBag.ActividadId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CobradorId" class="control-label"></label>
                <select asp-for="CobradorId" class ="form-control" asp-items="ViewBag.CobradorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
