<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Desktop.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>cosmopolita</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>milton</value>
            </setting>
        </Desktop.Properties.Settings>
    </applicationSettings>
</configuration>